<!doctype html>
<html>
<head>
  <title>Noticiario</title> 
  {% load static %}
  <link rel="icon" href="{% static 'img/logo.png'%}"> <!--Logo imagen pequeña-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!--bootstrap de footer-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
  {%load static%}
    <!-- Menú-->
        <nav class="navbar navbar-expand-sm navbar-light bg-success">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
          </button> 
        <div class="collapse navbar-collapse" id="opciones">  
          <ul class="navbar-nav mx-auto"> 
            <li class="nav-item">
              <a href="{% url 'inicio'%}" class="nav-link" href="#">Inicio</a> 
            </li>
            <li class="nav-item">
              <a href="{% url 'home'%}" class="nav-link" href="#">Mostrar colaboradores</a> 
            </li>
            <li class="nav-item">
            <a  href="{% url 'modificar_colab'%}" class="nav-link" href="#">Modificar colaborador</a>
            </li>
            <li class="nav-item">
              <a  href="{% url 'crear_colab'%}" class="nav-link" href="#">Crear colaborador</a>
            </li>         
           </ul>
          </div>
         </nav>
         <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus perferendis repudiandae adipisci ducimus. At, dolorum dignissimos voluptatibus atque minus necessitatibus obcaecati libero quibusdam commodi asperiores placeat sunt optio assumenda possimus.</h4>
<footer class="footer">
  <div class="container">
    <p class="copyright">Juan Pablo Cornejo © 2021</p>
  </div>
</footer>
</body>
</html>